# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment
.env
.venv/

# OS
.DS_Store
Thumbs.db

# Datos grandes (MNIST se descarga automáticamente)
data/

# IDE
.idea/
.vscode/
